<!--<html>
<body>
<marquee><h1>Welcome to BATHULA TECHNOLOGY SOLUTIONS</h1>
  </marquee>


<nav class = "checkit">
  <a class="nav-item nav-link text-white" routerLink="/addEmployee">Add Employee</a>
  
 <a class ="nav-item nav-link text-white" routerLink="/updateEmployee">updateEmployee</a>
 <router-outlet></router-outlet>
</nav>
</body>
</html>
-->
<div class = "container">
  <div class = "header">
    <app-header></app-header>
  </div>
  <div class = "main">
    <div class = "side-nav">
      <app-sidenav></app-sidenav>
    </div>
    <div class = "mainapp">
      <app-cruc></app-cruc>
    </div>
  </div>
</div>