.cu
{
    background-color: alpha($color: #000000);
    text-align: center;
    text-rendering: auto;
    padding: 3px;
    background-color:royalblue;
    color: white;
    

}
.seet{
    background-color: blue($color: #000000);
    padding: 1px;
}
.keet{
    background-color: blue($color: #000000);
    margin-left: 1.3em
    
}