<!---
<html>
<body>



<nav class = "checkit">
  <a class="nav-item nav-link text-white" routerLink="/addEmployee">Add Employee</a>
  
 <a class ="nav-item nav-link text-white" routerLink="/updateEmployee">updateEmployee</a>
 <router-outlet></router-outlet>
</nav>
</body>
</html>

<router-outlet></router-outlet>
<!---
<html>
<body>
<marquee><h1>Welcome to BATHULA TECHNOLOGY SOLUTIONS</h1>
  </marquee>

<nav class = "checkit">
    <a class="nav-item nav-link text-white" routerLink="/addEmployee">Add Employee</a>
  
    <a class ="nav-item nav-link text-white" routerLink="/updateEmployee">updateEmployee</a>
    <app-display-emp></app-display-emp>


 <router-outlet></router-outlet>
</nav>
</body>
</html>
-->

<router-outlet></router-outlet>
<!--<app-login></app-login>-->
<!--
<div class = "container">
  <div class = "header">
    <app-header></app-header>
  </div>
  <div class = "main">
    <div class = "side-nav">
      <app-sidenav></app-sidenav>
    </div>
    <div class = "mainapp">
      <app-cruc></app-cruc>
    </div>
  </div>
</div>
-->

