.mt-3{
background-color: aliceblue;
align-items: center;
padding: 2px;
width: fit-content;
align-items: center;
}
.uk
{
    color: alpha($color: #000000);
    text-align: center;
}
.ok{
    text-align: center;
    background-color: bisque;
}
.AK{
    background-color: aqua;
}
.h1{
    text-align: center;
    text-decoration: solid;
    text-decoration-color: darkblue;
}
.kk
{
    text-align: center;
}