




<div class="nav-items">
  <div class="nav-item">
    <!--<app-cruc >Dashboard</app-cruc>-->
    <button mat-button class="menu-button" routerLink="/dashboard">
  
    <span class="u"> Dashboard</span>
    </button>
  </div>
  <div class="nav-item">
    <!--<app-cruc>Locations</app-cruc>-->
    <button mat-button class="menu-button" routerLink="/location">
    <span class="u">Locations</span>
    </button>
  </div>
  <div class="nav-item">
    <button mat-button class="menu-button" routerLink="/technology">
   <!-- <app-cruc>Technology</app-cruc>-->
    <span class="u">Technology</span>
    </button>
  </div>
  <div class="nav-item">
    <button mat-button class="menu-button" routerLink="/paystubs">
    
    <span class="u">PayStubs</span>
    </button>
  </div>
  <div class="nav-item">
   <!-- <app-cruc>Client</app-cruc>-->
   <button mat-button class="menu-button" routerLink="/addEmployee">
    <span class = "u">Client</span>
    </button>
  </div>
  <div class="nav-item">
    <button mat-button class="menu-button" routerLink="/viewEmployee">
    <span class = "u">Timesheet</span>
    </button>
  </div>
  <div class="nav-item">
   <!--- <app-cruc>Contact</app-cruc>-->
   <button mat-button class="menu-button" routerLink="/viewEmployee">
    <span class=""u>Contact</span>
    </button>
  </div>
  
  <div class="nav-item">
   <!-- <app-cruc>Help</app-cruc>-->
   <button mat-button class="menu-button" routerLink="/viewEmployee">
    <span class="u">Help</span>
    </button>
  </div>
</div>

